<application
    ...>

<activity
    android:name=".DashboardActivity"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

</activity>

<activity
    android:name=".DonationListActivity"
    android:exported="false" />

<activity
    android:name=".PromisedDonationListActivity"
    android:exported="false" />

<activity
    android:name=".DonorHistoryActivity"
    android:exported="false" />

<activity
    android:name=".PromisedDonationActivity"
    android:exported="false" />

<activity
    android:name=".MainActivity"
    android:exported="false" />
</application>
