<application
    ...>

    <activity
        android:name=".DashboardActivity"
        android:exported="false" />

    <activity
        android:name=".DonationListActivity"
        android:exported="false" />

    <activity
        android:name=".PromisedDonationListActivity"
        android:exported="false" />

    <activity
        android:name=".MainActivity"
        android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

</application>
