<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="ISKCON Kheturi Dham"
        android:supportsRtl="true"
        android:theme="@style/Theme.Donation">

        <!-- Dashboard / Home -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Regular Donation -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Promised Donation -->
        <activity
            android:name=".PromisedDonationActivity"
            android:exported="false" />

        <!-- Donation List -->
        <activity
            android:name=".DonationListActivity"
            android:exported="false" />

        <!-- Promised Donation List -->
        <activity
            android:name=".PromisedDonationListActivity"
            android:exported="false" />

        <!-- Donor History -->
        <activity
            android:name=".DonorHistoryActivity"
            android:exported="false" />

    </application>

</manifest>
